<html>
<head>
    <script type='text/javascript'>
        function addFields() {
            var column = document.getElementById("column").value;
            var row = document.getElementById("row").value;

            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i = 0; i < row; i++) {
                for (j = 0; j < column; j++) {
                    container.appendChild(document.createTextNode((i + 1) + " " + (j + 1)));
                    var input = document.createElement("input");
                    input.type = "text";
                    input.name = i+2;
                    container.appendChild(input); 
                    
                }
                container.appendChild(document.createElement("br"));
            }
        }
    </script>
</head>
<body>
    <input type="text" id="column" name="column" value="">Number columns: <br />
    <input type="text" id="row" name="row" value="">Number of rows: <br />
    <button id="filldetails" onclick="addFields()">Fill Details</button>
    <div id="container" />
</body>
</html>