@model Kino_Bilietu_Sistema.Views.Sale.SaleCreate
<html>
<head>
</head>
<body>
    <h2>Įveskite eilių ir vietų skačių</h2>
    <form method="get" action="@Url.Action("Create", "Sale")">
        <input type="text" id="column" name="column" value="">eilių skaičius: <br />
        <input type="text" id="row" name="row" value="">vietų skaičius: <br />
        <input type="submit" value="Submit" class="submit" />
    </form>
</body>
</html>